<footer class="footer">
    <div class="container">
        <div class="section">
            <div class="title">
                Contact
            </div>

            <ul>
                <li>
                    <a href="tel:+38 (067) 435 35 64">+38 (067) 435 35 64</a>
                </li>
            </ul>

            <ul>
                <li>
                    <a href="mailto:Illuminara@gmail.com">Illuminara@gmail.com</a>
                </li>
            </ul>
        </div>

        <div class="sectionLine"></div>

        <div class="section">
            <div class="title">
                Pages
            </div>

            <ul>
                <li>
                    <a href="/store/">Illuminara</a>
                </li>
                <li>
                    <a href="//products/">Products</a>
                </li>
                <li>
                    <a href="/store/">Blogs</a>
                </li>
                <li>
                    <a href="/store/sign-in/">Sign in</a>
                </li>
                <li>
                    <a href="/store/sign-up/">Sign up</a>
                </li>
            </ul>
        </div>

        <div class="sectionLine"></div>

        <div class="section">
            <div class="title">
                Social
            </div>

            <ul>
                <li>
                    <a href="https://web.telegram.org/">Telegram</a>
                </li>
                <li>
                    <a href="https://www.instagram.com/">Instagram</a>
                </li>
                <li>
                    <a href="https://x.com/">X</a>
                </li>
            </ul>
        </div>

        <span>Illuminara ©</span>
    </div>
</footer>