<header class="header showHeader" id="header">
    <nav class="container">
        <ul>
            <li>
                <a href="/store/">
                    Illuminara
                </a>
            </li>
        </ul>
        <ul>
            <li>
                <a href="/store/products/">
                    Products
                </a>
            </li>
        </ul>
        <ul>
            <li>
                {% if user.is_authenticated %}
                    <a href="/store/sign-out/">
                        {{user.username}} <i class="ri-logout-box-r-line"></i>
                    </a>
                {% else %}
                    <a href="/store/sign-in/">
                        <i class="ri-login-box-line"></i> Sign In
                    </a>
                {% endif %}
            </li>
        </ul>
    </nav>
</header>