<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1, user-scalable=0">
        <meta name="description" content="Illuminara website">

        <!--=============== FAVICON ===============-->
        <link rel="shortcut icon" href="{% static 'store3/assets/img/8646366.png' %}" type="image/x-icon">

        <!--=============== REMIXICONS ===============-->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/remixicon@4.3.0/fonts/remixicon.css">

        <!--=============== UNICONS ===============-->
<!--        <link rel="stylesheet" href="https://unicons.iconscout.com/release/v3.0.0/css/line.css">-->

        <!--=============== SWIPER CSS ===============-->
<!--        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css"/>-->

        <script src="https://unpkg.com/scrollreveal@4.0.9/dist/scrollreveal.min.js"></script>

        <!--=============== CSS ===============-->
        <link rel="stylesheet" href="{% static 'store3/assets/css/store.css' %}">

        <title>Illuminara</title>
    </head>
    <body>
        {% csrf_token %}
        <!--==================== THEME ====================-->
        <!--<script src="{% static 'store3/assets/js/theme.js' %}"></script>-->
        <!--==================== HEADER ====================-->
        {% include 'store3/header.html' %}
        <!--==================== MAIN ====================-->
        <main class="main">
<!--            <section class="billingInfo">-->
<!--                <form action="/store3/stripe/portal/" method="POST">-->
<!--                    {% csrf_token %}-->
<!--                    <button id="portal-button" type="submit">Manage billing & subscription</button>-->
<!--                </form>-->
<!--            </section>-->

            <section class="company">
                <img src="{% static 'store3/assets/img/pexels-jakkel-418831.jpg' %}" alt="Company image">
                <div class="bigTitle">
                    We are new generation of this decade
                </div>
            </section>

            <div class="parallaxSection">
<!--                <img src="https://images.pexels.com/photos/326055/pexels-photo-326055.jpeg?cs=srgb&dl=pexels-pixabay-326055.jpg&fm=jpg" alt="">-->

                <div class="bigTitle">
                    Our latest products
                </div>

                <div class="products">
                    {% for product in newProducts|slice:":3" %}
                        <div class="product">
                            <img src="/media/{{product.photo}}" alt="photo"
                                 hx-get="" hx-trigger="changed" hx-target=".cart" hx-select=".cart > *" hx-swap="innerHTML"
                                 productId="{{product.id}}" loading="lazy">

                            <div class="details">
                                <div class="price">
                                    $ {{product.price|floatformat}}
                                </div>

                                <div class="title">
                                    {{product.title}}
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>

            <div id="parallax1" class="parallaxParent">
                <div style="background-image: url({% static 'store3/assets/img/geometric-3090094_960_720.webp' %});"></div>
            </div>
            <div class="parallaxSection">
<!--                <img src="https://images.pexels.com/photos/326055/pexels-photo-326055.jpeg?cs=srgb&dl=pexels-pixabay-326055.jpg&fm=jpg" alt="">-->

                <div class="bigTitle">
                    Best ever products
                </div>

                <div class="products">
                    {% for product in oldestProducts|slice:"0:3" %}
                        <div class="product">
                            <img src="/media/{{product.photo}}" alt="photo"
                                 hx-get="" hx-trigger="changed" hx-target=".cart" hx-select=".cart > *" hx-swap="innerHTML"
                                 productId="{{product.id}}" loading="lazy">

                            <div class="details">
                                <div class="price">
                                    $ {{product.price|floatformat}}
                                </div>

                                <div class="title">
                                    {{product.title}}
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>

            <div id="parallax2" class="parallaxParent">
                <div style="background-image: url({% static 'store3/assets/img/9-arboards_129160-395.avif' %});"></div>
            </div>
            <div class="trustedSection">
                <div class="title">
                    Trusted by
                </div>
                <div class="infiniteLoopSwiper" id="normalSwiper">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <a href="">
                                <img src="{% static 'store3/assets/img/logoipsum-332.svg' %}" alt="logo" loading="lazy">
                            </a>
                        </div>

                        <div class="swiper-slide">
                            <a href="">
                                <img src="{% static 'store3/assets/img/logoipsum-331.svg' %}" alt="logo" loading="lazy">
                            </a>
                        </div>

                        <div class="swiper-slide">
                            <a href="">
                                <img src="{% static 'store3/assets/img/logoipsum-330.svg' %}" alt="logo" loading="lazy">
                            </a>
                        </div>

                        <div class="swiper-slide">
                            <a href="">
                                <img src="{% static 'store3/assets/img/logoipsum-329.svg' %}" alt="logo" loading="lazy">
                            </a>
                        </div>

                        <div class="swiper-slide">
                            <a href="">
                                <img src="{% static 'store3/assets/img/logoipsum-327.svg' %}" alt="logo" loading="lazy">
                            </a>
                        </div>

                        <div class="swiper-slide">
                            <a href="">
                                <img src="{% static 'store3/assets/img/logoipsum-325.svg' %}" alt="logo" loading="lazy">
                            </a>
                        </div>

                        <div class="swiper-slide">
                            <a href="">
                                <img src="{% static 'store3/assets/img/logoipsum-323.svg' %}" alt="logo" loading="lazy">
                            </a>
                        </div>

                        <div class="swiper-slide">
                            <a href="">
                                <img src="{% static 'store3/assets/img/logoipsum-321.svg' %}" alt="logo" loading="lazy">
                            </a>
                        </div>

                        <div class="swiper-slide">
                            <a href="">
                                <img src="{% static 'store3/assets/img/logoipsum-317.svg' %}" alt="logo" loading="lazy">
                            </a>
                        </div>

                        <div class="swiper-slide">
                            <a href="">
                                <img src="{% static 'store3/assets/img/logoipsum-311.svg' %}" alt="logo" loading="lazy">
                            </a>
                        </div>

                        <div class="swiper-slide">
                            <a href="">
                                <img src="{% static 'store3/assets/img/logoipsum-300.svg' %}" alt="logo" loading="lazy">
                            </a>
                        </div>

                        <div class="swiper-slide">
                            <a href="">
                                <img src="{% static 'store3/assets/img/logoipsum-299.svg' %}" alt="logo" loading="lazy">
                            </a>
                        </div>

                        <div class="swiper-slide">
                            <a href="">
                                <img src="{% static 'store3/assets/img/logoipsum-298.svg' %}" alt="logo" loading="lazy">
                            </a>
                        </div>

                        <div class="swiper-slide">
                            <a href="">
                                <img src="{% static 'store3/assets/img/logoipsum-297.svg' %}" alt="logo" loading="lazy">
                            </a>
                        </div>
                    </div>
                </div>

                <div class="infiniteLoopSwiper" id="reverseSwiper">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <a href="">
                                <img src="{% static 'store3/assets/img/logoipsum-332.svg' %}" alt="logo" loading="lazy">
                            </a>
                        </div>

                        <div class="swiper-slide">
                            <a href="">
                                <img src="{% static 'store3/assets/img/logoipsum-331.svg' %}" alt="logo" loading="lazy">
                            </a>
                        </div>

                        <div class="swiper-slide">
                            <a href="">
                                <img src="{% static 'store3/assets/img/logoipsum-330.svg' %}" alt="logo" loading="lazy">
                            </a>
                        </div>

                        <div class="swiper-slide">
                            <a href="">
                                <img src="{% static 'store3/assets/img/logoipsum-329.svg' %}" alt="logo" loading="lazy">
                            </a>
                        </div>

                        <div class="swiper-slide">
                            <a href="">
                                <img src="{% static 'store3/assets/img/logoipsum-327.svg' %}" alt="logo" loading="lazy">
                            </a>
                        </div>

                        <div class="swiper-slide">
                            <a href="">
                                <img src="{% static 'store3/assets/img/logoipsum-325.svg' %}" alt="logo" loading="lazy">
                            </a>
                        </div>

                        <div class="swiper-slide">
                            <a href="">
                                <img src="{% static 'store3/assets/img/logoipsum-323.svg' %}" alt="logo" loading="lazy">
                            </a>
                        </div>

                        <div class="swiper-slide">
                            <a href="">
                                <img src="{% static 'store3/assets/img/logoipsum-321.svg' %}" alt="logo" loading="lazy">
                            </a>
                        </div>

                        <div class="swiper-slide">
                            <a href="">
                                <img src="{% static 'store3/assets/img/logoipsum-317.svg' %}" alt="logo" loading="lazy">
                            </a>
                        </div>

                        <div class="swiper-slide">
                            <a href="">
                                <img src="{% static 'store3/assets/img/logoipsum-311.svg' %}" alt="logo" loading="lazy">
                            </a>
                        </div>

                        <div class="swiper-slide">
                            <a href="">
                                <img src="{% static 'store3/assets/img/logoipsum-300.svg' %}" alt="logo" loading="lazy">
                            </a>
                        </div>

                        <div class="swiper-slide">
                            <a href="">
                                <img src="{% static 'store3/assets/img/logoipsum-299.svg' %}" alt="logo" loading="lazy">
                            </a>
                        </div>

                        <div class="swiper-slide">
                            <a href="">
                                <img src="{% static 'store3/assets/img/logoipsum-298.svg' %}" alt="logo" loading="lazy">
                            </a>
                        </div>

                        <div class="swiper-slide">
                            <a href="">
                                <img src="{% static 'store3/assets/img/logoipsum-297.svg' %}" alt="logo" loading="lazy">
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div id="parallax3" class="parallaxParent">
                <div style="background-image: url({% static 'store3/assets/img/seamless-pattern-theme-architecture_600765-1424.avif' %});"></div>
            </div>

            {% include 'store3/cart.html' %}
        </main>

        <!--==================== FOOTER ====================-->
        {% include 'store3/footer.html' %}

        <a href="" class="menu" id="show-menu">
            <i class="ri-menu-5-line"></i>
        </a>

        <!--========== SCROLL UP ==========-->
        <a href="#" class="scrollup" id="scroll-up">
            <i class="ri-arrow-up-circle-line"></i>
        </a>

        <!--=============== SCRIPTS ===============-->
        <!-- Add 'async' or 'defer' attributes to control script execution -->
        <script src="https://cdn.jsdelivr.net/npm/swiper@11.1.14/swiper-bundle.min.js" defer></script>
        <script src="https://kit.fontawesome.com/95c0aa19f9.js" crossorigin="anonymous" defer></script>
        <script src="https://js.stripe.com/v3/"></script>
        <script async src="https://js.stripe.com/v3/pricing-table.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/gsap/1.19.0/TweenMax.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.7/ScrollMagic.min.js"></script>
<!--        <script src="//cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.7/plugins/debug.addIndicators.min.js"></script>-->
        <script src="//cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.7/plugins/animation.gsap.js"></script>
        <script src="https://unpkg.com/htmx.org@2.0.2" defer></script>

        <!-- Combine and minify your custom scripts -->
        <script src="{% static 'store3/assets/js/store.js' %}" defer></script>
    </body>
</html>